.jumbotron-home {
    background: url(../images/header.jpg) center no-repeat;
    background-size: cover;

    height: 350px;
}

.jumbotron-home h1 {
    line-height: 350px;
}

main.container {
    min-height: 80vh;
}